extends layout

block content
  h1 KNOW YOUR FLOWER
  form(method="post", enctype="multipart/form-data")
    div.form-group
      label(for="flower-picture") UPLOAD A PICTURE
      input.form-control-file(type="file" name="flower" required)
    div.form-group
      button.btn.btn-large.btn-primary(type="submit") SEE RESULTS

  div.result
    if imgSrc
      img(src="data:image/png;base64, " + imgSrc)

    if labels
      ul
        for label in labels
          li= label.description

    if notFlower
      p ARE U SURE THE IMAGE CONTAINS A FLOWER?
