doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
    title= "Know Your Flower"
  body
    div.container
      block content
    footer.text-center.small.font-weight-light
      footertext Show some git <i class="fas fa-heart fa-sm"></i> by <i class="fas fa-star fa-sm"></i> the project on
       a(href='https://github.com/souvikmaji/know-your-flowers', target='blank')
        i.fab.fa-github.fa-lg
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
    script(src='/javascripts/app.js')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css')
